@media (max-width: 800px) {
    #contacts  {
        margin-top: 50vh;
    }

    #contacts div.container {
        width: 250px;
        height: 300px;
        border: solid 8px var(--blue-color);
    }

    #contacts div.container h2 {
        font-size: 35px;
    }
    
    #contacts div.container p {
        font-size: 18px;
    }
    
    #contacts footer {
        display: flex;
        height: 50px;
        width: 100vw;
        bottom: 0px;
    }

    #contacts footer ul li {
        padding: 0;
    }

    #contacts footer li img {
        display: none;
    }

    #contacts footer li a {
        padding: 10px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    #contacts div.container {
        width: 200px;
        height: 310px;
        border: solid 5px var(--blue-color);
        margin-bottom: 100px;
    }

    #contacts div.container h2 {
        font-size: 35px;
    }
    
    #contacts div.container p {
        font-size: 18px;
    }
}



#contacts {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts .container {
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 200px;
    background-color: white;
    border: solid 10px var(--blue-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

#contacts .container h2 {
    font-size: 35px;
}

#contacts .container p {
    font-size: 20px;
}

#contacts footer {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: var(--second-color);
    z-index: 1;
    bottom: 0px;
}

#contacts footer ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

#contacts footer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#contacts footer li img {
    width: 50px;
    margin-bottom: 5px;
}

#contacts footer li a {
    color: black;
}