@media (max-width: 1150px) {
    #tech {
        margin-top: 20px;
    }

    #tech div.tech-body ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 

    #tech div.tech-body ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #tech div.tech-body ul li {
        width: 200px;
        height: 300px;
        border: solid 8px var(--blue-color);
    }

    #tech div.tech-body ul li p {
        font-size: 14px;
    }

}

@media (max-width: 800px) {
    #tech {
        margin-top: 60vh;
    }
    
    #tech div.tech-body h2 {
        font-size: 25px;
    }

    #tech div.tech-body ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.lineBlue {
        display: none;
    } 

}

@media (max-width: 400px) {
    #tech div.tech-body h2 {
        font-size: 18px;
    }

    #tech div.tech-body ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 5px var(--blue-color);
    }
}


#tech {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#tech .tech-body {
    z-index: 1;
    position: absolute;
}

#tech .tech-body h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -10vh;
}

#tech .tech-body ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#tech .tech-body ul li {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: solid 10px var(--blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.4s;
}

#tech .tech-body ul li:hover {
    transform: scale(1.05);
}

#tech .tech-body ul li h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

#tech .tech-body ul li p {
    text-align: center;
}

.lineBlue {
    height: 60px;
    width: 100%;
    z-index: 0;
    background-color: var(--blue-color);
}
