header {
    background-image: url('https://cdn.pixabay.com/photo/2020/03/26/03/38/phase-of-the-moon-4969110_960_720.jpg');
    background-size: cover;
    background-position: bottom;
    height: 50vh;

    div {
        position: relative;
        top: 30px;

        ul {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            li {
                padding: 10px;
                cursor: pointer;
                transition: 0.2s;
                position: relative;
                background: transparent;

                a {
                    color: $fontColor;
                    font-size: 20px;
                    font-weight: 400;
                    text-decoration: none;
                }
                
                &::after {
                    background-color: $fontColor;
                    position: absolute;
                    
                    bottom: 0;
                    left: 0;
                    content: '';

                    height: 2px;
                    width: 0%;
                    transition: 0.4s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}