@media (max-width: 900px) {
    section {
        div#projects {
            ul {
                li {
                    @include flexCentralize();

                    div {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 780px) {
    section {
        div.profile {
            @include flexColum();

            h1 {
                text-align: center;
            }
        }
    }
}

@media (max-width: 370px) {
    footer {
        div {
            @include flexColum();

            h2 {
                text-align: center;
            }

            ul li {
                a {
                    font-size: 12px;  
                }
            }
        }
    }
}