* {
    margin: 0;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $backgraudColor;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}