section {
    position: relative;
    top: -250px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: $fontColor;
    border-radius: 50px;

    height: 500vh; // timer limit

    div.profile {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            width: 200px;
            height: 200px;
            background-image: url('../../img/profile.jpg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 200px;
            border-radius: 100%;
            border: $backgraudColor 5px solid;
        }

        h1 {
            color: $backgraudColor;
            margin-left: 50px;
            font-size: 30px;
        }
    }
}